.playlist {
  &__list {
    margin-top: 1rem;

    &__item {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      button {
        cursor: pointer;
      }

      &--selected {
        button {
          cursor: pointer;
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}

ul {
  &.playlist {
    &__list {
      list-style: none;
      padding: 0;
    }
  }
}
