.tag {
  background: #f00;
  border-radius: 0.5rem;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  height: fit-content;
  padding: 0.5rem;
  position: relative;

  &__tooltip {
    background: #000;
    bottom: 110%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: auto;
    font-size: 0.7rem;
    opacity: 0;
    padding: 0.5rem;
    position: absolute;
    right: 50%;
    text-align: center;
    transition: opacity 0.3s;
    white-space: nowrap;
    z-index: 1;
  }

  &__footer {
    text-align: right;
  }

  &:hover {
    .tag {
      &__tooltip {
        opacity: 1;
      }
    }
  }
}
