.tags {
  &__list {
    margin-bottom: 1rem;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
		
    &--current {
    }

    &__item {
      margin: 0.2rem;
    }
  }	

  ul {
    &.tags__list {
      list-style: none;
      padding: 0;
    }
  }
}
